<div data-id="<%= chatroom.id %>"class="chatroom">
	<%= chatroom.name %>
	<%= link_to "Delete", chatroom_path(chatroom), method: :delete, remote: true %>
	<%= link_to "Join", chatroom_path(chatroom), method: :get %>
</div>