<h1>ChatRooms</h1>

<%= simple_form_for Chatroom.new, remote: true do |form| %>
  <%= form.input :name %>
  <%= form.submit %>
<% end %>

<div class="chatrooms">
	<% @chatrooms.each do |chatroom| %>
    <%= render "chatrooms/chatroom_item", chatroom: chatroom %>
	<% end %>
</div>